* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-weight: 200;
  line-height: 1em;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

/* Defaults */
body {
  font-size: 16px;
  background: #e5e5e5;
}

h1 {
  font-size: 180%;
  color: #fff;
}

h2 {
  font-size: 160%;
  color: #666;
  padding-bottom: 15px;
}

h3 {
  font-size: 120%;
  color: #ccc;
  padding-bottom: 15px;
}

img {
  display: block;
  width: 100%;
}

p, a, span, li {
  font-size: 90%;
  line-height: 25px;
  color: #3B3A3A;
}

p a, li a, h1 a, p span {
  color: inherit;
  font-size: inherit;
}

p a {
  color: #48C7C1;
}

p a:hover {
  text-decoration: underline;
}

p.tags {
  padding-top: 10px;
}

p.tags a {
  padding: 0px 5px 0px 5px;
  background: #222;
  margin-right: 5px;
  border-radius: 2px;
  color: #999;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
  word-wrap: break-word;
}

/* Buttons */
.button {
  background: #48C7C1;
  border-radius: 2px;
  padding: 15px 0px 15px 0px;
  width: 100%;
  color: #fff;
  font-size: 90%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 400;
}

/* Header */
.header {
  height: 100px;
  border-top: 5px solid #48C7C1;
  background: #222;
  margin-bottom: 30px;
}

.header .wrapper {
  margin-top: -5px;
}

.header h1 {
  float: left;
  line-height: 120px;
  background: #48C7C1;
  padding: 0px 30px 0px 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 2px 2px;
}

.header ul {
  float: right;
  overflow: hidden;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  line-height: 100px;
  padding: 0px 30px 0px 30px;
  color: #999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.header ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #ccc;
}

/* Wrapper Sections */
.wrapper.container {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 2px;
}

.wrapper.footer {
  background: #222;
  padding: 30px;
  border-radius: 2px 2px 0px 0px;
}

.wrapper.footer ul li a {
  color: #999;
}

/* Columns */
.col {
  float: left;
}

.col.quarter {
  width: 25%;
}

.col.threeQuarter {
  width: 75%;
}

.col.border {
  min-height: 200px;
  border-right: 1px solid #ddd;
  padding-right: 30px;
}

.col.padding {
  padding-left: 30px;
}

/* Sections */
.section {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.section.last {
  border: 0;
  margin: 0;
  padding: 0;
}

.section.price p {
  text-align: center;
  display: block;
  font-size: 120%;
}

/* Gallery */
.section.gallery {
  overflow: hidden;
  padding: 0px 0px 0px 15px;
}

.gallery img {
  float: left;
  width: 33.33%;
  padding: 0px 15px 15px 0px;
  cursor: pointer;
}

/* Media */
@media all and (max-width: 960px) and (min-width: 650px) {
  .wrapper {
    width: auto;
  }
}

@media all and (max-width: 650px) {
  .wrapper {
    width: 650px; 
  }
}