<!DOCTYPE html>

<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>StorefrontHTMLTmplt</title>
	
<link rel="stylesheet" type="text/css" href="storefront.css">
</head>

<body>

<div class="header">
  <div class="wrapper">
    <h1><a href="#">A Shop.</a></h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Basket (0)</a></li>
    </ul>
  </div>
</div>

<div class="wrapper container">
  <div class="col threeQuarter border">
    <div class="section">
      <h2>Nike Air Max 1 FB</h2>
      <img src="https://static.tumblr.com/minmqb8/Xoamrl7u9/shoefront.jpg" draggable="false" class="itemImg" alt="Item Image" />
    </div>
    
    <div class="section gallery">
      <img src="https://static.tumblr.com/minmqb8/Xoamrl7u9/shoefront.jpg"  alt="Shoe Front" />
      <img src="https://static.tumblr.com/minmqb8/eINmrl7ts/shoeback.jpg"  alt="Shoe Back" />
    </div>
    
    <div class="section last">
      <p>1,578 Views</p>
    </div>
  </div>
  
  <div class="col quarter padding">
    <div class="section">
  	  <p>Everyday runs require a shoe that you can trust, like the Nike Air Max 1 Running Shoes. The legendary status of this classic running shoe is not all hype, as anyone who has worn these premium running kicks can attest. Get the support, comfort and style you need from these iconic running shoes.</p>
      <p><a href="#">More products like this</a></p>
      <p class="tags"><a href="#">Nike</a><a href="#">Air Max 1</a><a href="#">FB</a></p>
    </div>
    
    	<div class="section price">
      		<p>$100.00</p>
   	 </div>
    
     </div>
</div>

<div class="wrapper footer">
  <div class="col quarter">
    <h3>Pages</h3>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Basket (0)</a></li>
    </ul>
  </div>
  
  <div class="col quarter">
    <h3>Find us</h3>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Tumblr</a></li>
    </ul>
  </div>
</div>

</body>

</html>